<div class="row">
    <div class="col-md-4">
        <h2>Go Test Action Filter</h2>
        <p><a class="btn btn-default" onclick="location.href='@Url.Action("Email")'"> Start By Email </a></p>
        <p><a class="btn btn-default" onclick="location.href='@Url.Action("Line")'"> Start By Line Notify </a></p>
        <p><a class="btn btn-default" onclick="location.href='@Url.Action("All")'"> Start By All </a></p>
    </div>
</div>